<div class="container ">
    <h1 class="text-center">Список всех дел</h1>
    <input type="text" [(ngModel)]="srch" placeholder="Фильтр по контенту" class="form-control mt-3 mb-3">

    <h3>Показать:</h3>
    <select   class=" col-4 form-control selectpicker" [(ngModel)]="sortON">
        <option [ngValue]="every" selected > Показать все</option>
          <option [ngValue]="doNot" value="doNot" > Невыполненные</option>
          <option [ngValue]="do" value="do" >Выполненные</option>
          <option [ngValue]="exit" value="exit">Просроченные</option>
        </select>
        <!-- <div>
    <input type="radio" id="contactChoice1"
     name="contact" value="every" [(ngModel)]="sortON" checked="checked">
    <label for="contactChoice1">Показать все</label>

    <input type="radio" id="contactChoice2"
     name="contact" value="doNot" [(ngModel)]="sortON">
    <label for="contactChoice2">Невыполненные</label>

    <input type="radio" id="contactChoice3"
     name="contact" value="do" [(ngModel)]="sortON">
    <label for="contactChoice3">Выполненные</label>
  </div>
  <input type="radio" id="contactChoice3"
  name="contact" value="exit" [(ngModel)]="sortON">
 <label for="contactChoice3">Просроченные</label>
</div> -->

  
  <div>
    



<div class="row">
    
<div  *ngFor="let list of lists | filter:srch | sort:sortON" [ngStyle]="{'width':'25%'}">
    
    <div class="col-md-12 row-xs-24  pt-3">
<div class="card ">
    <div class="card-body">
        <div class="card-title">
            <p>Карточка № {{list.id}}</p>
        </div>
        <p class="card-text">
            <!-- {{(list.content.split(" "))[0]}} {{(list.content.split(" "))[1]}}...  -->
            {{list.content}}
        </p>
    </div>
    <div class="card-body">
    <p [style.background]="time(list.dateEnd)==false?'red':'white'" class="p-2">Дедлайн: {{list.dateEnd}}</p>
    <p [style.color]="(list.status)?'grey':'black'"> Статус: {{list.status}}</p>
    <a  href="#" class="card-link" (click)="delete(list.id)">Удалить</a>
    <a class="card-link" [routerLink]="['/edit', list.id]" >Редактировать</a>
    <a  class="card-link"  class=" btn btn-warning mt-3 ml-4" (click)="change(list.status, list.id)">Сменить статус</a>
</div>
</div>
</div>
</div>
</div>
</div>


