<div class="container">
    <h1 class="text-center">Добавить задачу</h1>
<form  [formGroup]="FormAdd">
    <div class="form-group">
        <label for="content">Ваши цели (Контент):</label>

        <textarea name="content" id="" cols="30" rows="2" FormControlName="content" class="form-control" #content></textarea>
        <label for="dateEnd">Дедлайн:</label>
        <input type="date" name="dateEnd" id="" class="form-control" FormControlName="dateEnd"  #dateEnd  value="{{nowDate | date:'dd.MM.yyyy'}}">
        <button class="btn btn-dark mt-3" [disabled]="FormAdd.invalid" type="submit" (click)="add(content.value, dateEnd.value)">Добавить</button>
    </div>

</form>
</div>
