<div class="container">
    <h1 class="text-center">Редактирование заметки</h1>
<form  [formGroup]="FormEdit">
    <div class="form-group">
        <label for="content">Ваши цели:</label>

        <textarea name="content" id="" cols="30" rows="2" FormControlName="content" class="form-control" #content></textarea>
        <label for="dateEnd">Дата завершения:</label>
        <input [textMask]="{mask:mask}" type="text" name="dateEnd" id="" class="form-control" FormControlName="dateEnd"  #dateEnd >
        <button class="btn btn-dark mt-3" [disabled]="FormEdit.invalid" type="submit" (click)="edit(content.value, dateEnd.value)">Сохранить</button>
    </div>

</form>
</div>
