<nav class="navbar navbar-dark bg-dark  ">
    <ul class="navbar-nav col">
        <li class="nav-item ">
    <h5  class=" text-light"> Bychkova_183</h5>
</li>
<div class="row justify-content-center">
        <li class="nav-item pr-3 ">
        <a class="nav-link" [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Список дел</a>
    </li>
        <li class="nav-item pl-3 pr-3">
        <a class="nav-link" [routerLink]="'/add'" routerLinkActive="active">Добавить задачу</a>
    </li>
<li class="nav-item pl-3">
<a class="nav-link" [routerLink]="'/contacts'" routerLinkActive="active">Контакты</a>
</li>
</div>
</ul>

</nav>
